.main {
  background-color: #bebfc7;
}
.header {
  background-color: #072243;
  position: relative;
}
.header img {
  margin: 10px;
}
.header h1 {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-weight: normal;
  color: white;
}
.form_title {
  background-color: #072243;
  color: white;
  padding: 6px 12px;
}
.body {
  padding: 12px;
}
.form {
  padding: 12px;
  background-color: white;
}
.input_ctn {
  margin: 10px 0;
  display: flex;
}
.input_ctn input,
.input_ctn select,
.T_C {
  position: absolute;
  left: 40vw;
}
.btn_ctn {
  background-color: #f2f2f2;
  padding: 0.5em;
  display: flex;
  justify-content: space-between;
  border: 1px solid #bebfc7;
}
.btn_ctn button {
  padding: 3px 5px;
}
.help {
  position: absolute;
  left: 38vw;
}
.checkbox {
  left: 0vw !important;
  margin-top: 5px;
}
.T_C span {
  margin-left: 25px;
}
.link {
  color: #072243;
  text-decoration: underline;
}
.footer {
  display: flex;
  background-color: white;
  padding: 12px;
  margin-top: 10px;
  gap: 15px;
}
.footer p {
  color: #072243;
  text-decoration: underline;
  cursor: pointer;
}
.information {
  border: 1px solid #024da0;
  padding: 1px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: white;
}
.information_title {
  background-color: #024da0;
  color: white;
  align-items: center;
  display: flex;
  padding: 2px 5px;
}
.information_text {
  padding: 2px 5px;
}
.dataSet {
  display: flex;
  margin-bottom: 10px;
}
.dataSet p:nth-child(1) {
  font-weight: bold;
}
.dataSet p:nth-child(2) {
  position: absolute;
  left: 225px;
}

@media screen and (max-width: 500px) {
  .input_ctn select {
    width: 200px;
  }
  .header h1 {
    right: 10px;
    bottom: 10px;
    font-size: 1rem;
  }
  .footer {
    flex-wrap: wrap;
  }
  .footer p {
    margin-right: 10px;
    margin-bottom: 5px;
  }
  .dataSet {
    /* display: block; */
    flex-direction: column;
  }

  .dataSet p:nth-child(1) {
    font-weight: bold;
  }
  .dataSet p:nth-child(2) {
    position: unset;
    left: unset;
  }
}
