.menu {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  background-color: aquamarine;
  align-items: center;
}
.nav {
  padding: 3px 10px;
  border-radius: 3px;
  display: flex;
  gap: 10px;
  font-weight: bold;
  align-items: center;
}
.nav button {
  background-color: turquoise;
  border: none;
  outline: none;
  padding: 3px 8px;
  font-weight: 700;
  font-family: monospace;
  cursor: pointer;
  border-radius: 3px;
}
